{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Transactions</h2>
        <form method="GET" class="form-inline">
            Filter by description: {{ form.description_filter }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        {% if transaction_list %}
            <table class="transaction_list">
                <thead>
                <tr>
                    <th>DateTime</th>
                    <th>Description</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transaction_list %}
                    <tr>
                        <td>{{ transaction.date_time | date:'Y/m/d H:i:s' }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.detail }}</td>
                        <td><a href="{% url 'update_transaction' transaction.id %}">Edit</a></td>
                        <td><a href="{% url 'delete_transaction' transaction.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No message found.</p>
        {% endif %}
    {% else %}
        <p>Please <a href="{% url 'login' %}">Login</a>.</p>
    {% endif %}
{% endblock %}